/* TODO: add styles */

/*
 * All elements would be housed under a container with the className equal
 * to component name (e.g. .MainView and .ShipPlacementView)
 */

 .GameOVerView body {
    background-color: powderblue;
  }
  .GameOVerView   p {
      text-align: center;
      font-size: 1000%;
    }
    
    .GameOverView button{
  
  
    }
