<!-- TODO: Display a 9x10 board and a side-bar for current score and who's turn it is to play -->
<html>
    <head>
        <link rel="stylesheet" href="styles.css"> <!-- loads in style sheet -->
        <script type="text/javascript" src="scripts.js"></script> <!-- runs temporary script -->
    </head>

    <body>
        <div class="GameBoardView">  
            <div class="game-board">
            <!-- <script>
                board = document.getElementsByClassName("game-board")[0];
                for(let rows = 1; rows <= 9; rows++)
                {
                for(let cols = 1; cols <= 10; cols++)
                {
                var boardElement = document.createElement("div");
                boardElement.setAttribute("row", rows);
                boardElement.setAttribute("col", cols);
                boardElement.setAttribute("class", "space");
                board.appendChild(boardElement);
            }
            }
            </script> -->
            </div>

            <div class="side-board">

            </div>
        </div>  

    </body>
</html>




