<!-- Display a 9x10 board and a sidebar that would contain ships -->
<aside class="controls">
  <p>Place all ships on the board:</p>
  <div class="fleet"></div>
  <menu>
    <button class="rotate magic-button" type="button" aria-pressed="false">
      Rotate ship
    </button>
    <button
      class="finish magic-button"
      type="button"
      title="Place all ships to begin the game"
      disabled
    >
      Start game
    </button>
    <button
      class="AIGame magic-button"
      type="button"
      title="Place all ships to begin the AI game"
      disabled
    >
      Start AI Game (Easy)
    </button>
    <button
      class="AIGame magic-button"
      type="button"
      title="Place all ships to begin the AI game"
      disabled
    >
      Start AI Game (Medium)
    </button>
    <button
      class="AIGame magic-button"
      type="button"
      title="Place all ships to begin the AI game"
      disabled
    >
      Start AI Game (Hard)
    </button>
  </menu>
</aside>
<div class="board"></div>
