<!-- Display a 9x10 board and a side-bar for current score and who's turn
  it is to play -->

<aside class="dialog">
  <h2>Who goes first?</h2>
  <span>
    <button type="button" class="magic-button me">Me</button>
    <button type="button" class="magic-button opponent">Opponent</button>
  </span>
</aside>

<div class="boards-container">
  <section class="player-section">
    <h2>Your ships</h2>
    <div class="player-board"></div>
  </section>
  <section class="opponent-section">
    <h2>Opponent's ships</h2>
    <div class="opponent-board"></div>
  </section>
</div>

<aside>
  <h1>Opponent's fleet:</h1>
  <span class="opponent-fleet"></span>
</aside>
