/* TODO: add styles for buttons */

/*
 * All elements would be housed under a container with the className equal
 * to component name (e.g. .MainView and .ShipPlacementView)
 */

.MainView p {
  color: var(--t2);
}
.MainView button {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 25px;
}

.MainView button:hover {
  background-color: #e7e7e7a9;
  color: black;
  border: none;
  padding: 25px;
}
